{% extends 'base.jinja2.html' %}

{% block body %}
    <table>
        <tr>
            <td><img src=":/icons/footprints" width=48 height=48></td>
            <td valign="middle"><h2>Footprints</h2></td>
        </tr>
    </table>
    <div>
        <span>Adress: RM 110 Inkhsan Business Center, 47 Street NR</span><br>
        <span>Mobile: 0799 000 000</span><br>
        <span>Email: shop@footprints.com</span>
    </div>
    <hr>
    {% block content %}{% endblock %}
    <hr>
    <p>Printed: <nobr>{{printed_at}}</nobr></p>
{% endblock %}
